.signup-heading{
  font-size: 2.5rem;
  padding-bottom: 1rem;
}

/* For screens smaller than 768px */
@media (max-width: 767px) {

    form{
      padding: 10%;
    }
    .form-group {
      margin-bottom: 15px;
      
    }
  
    .form-group label {
      display: block;
      margin-bottom: 5px;
      
    }
  
    .form-group input[type="checkbox"] {
      margin-right: 5px;
    }
  
    .form-group:last-child {
      margin-bottom: 0;
    }
  }
  
  /* For screens larger than 768px */
  @media (min-width: 768px) {
    form{
      padding: 10%;
    }
    .form-group {
      display: inline-block;
      margin-right: 20px;
      margin-bottom: 20px;
      width: 48%;
    }
  
    .form-group label {
      display: block;
      margin-bottom: 5px;
    }
  
    .form-group:last-child {
      margin-right: 0;
    }
  }
  
  /* Clear floats after every two form groups */
  .form-group:nth-child(2n+1) {
    clear: both;
  }
  